APP_URL="locahost:3000"
NODE_ENV= "development"
PORT= 3000
DATABASE_URL=""
RATE_LIMIT_TIME_IN_MINS= 15,
RATE_LIMIT_MAX_NO_OF_REQS= 100,
RATE_LIMIT_USE_STANDARD_HEADERS="true",
RATE_LIMIT_USE_LEGACY_HEADERS="false",
ALLOWED_CORS_URLS="*"