APP_URL="locahost:3000"
NODE_ENV= "development"
PORT= 3000
DATABASE_URL="mongodb://localhost:27017/hux_ventures?retryWrites=true&w=majority"
RATE_LIMIT_TIME_IN_MINS= 15,
RATE_LIMIT_MAX_NO_OF_REQS= 100,
RATE_LIMIT_USE_STANDARD_HEADERS="true",
RATE_LIMIT_USE_LEGACY_HEADERS="false",
ALLOWED_CORS_URLS="*"
JWT_SECRET_KEY="14232c8179fd8550f821fd14d93ba334f60c736fa9df31e9024cd9b20b2d14a36c3749220a8e5c6a55c1850e49240e56b1437440c68d18f584f447378246424b"